html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit; /* 確保所有子元素和偽元素都繼承 border-box */
}





    

    div.lezi_drag-scroll-container{ /*定義可視範圍*/
        
        overflow: hidden;
        max-width: 980px;
        width: 100%;
        margin: 0px;
        user-select: none; 
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        
    }
    
    div.drag-scroll-content{

        display: flex;
        justify-content: flex-start;
        gap: 20px;

    }
    
    div.card_submit_text{
        
        color: #282828;
        
    }

    div.card_submit_text{ /*徵稿卡片_文字*/
        
        width: 248px;
        height: 232px;
        background-color: #f3f3ed;
        padding: 12px;
        border-radius: 16px;
        flex-shrink: 0; 
        flex-grow: 0;
    }

    div.submit_text_title{

        font-weight: bold;
        font-size: 14px;

    }

    div.submit_text_summary{

        padding-left: 8px;
        margin-top: 8px;
        font-size: 14px;

    }
    
    div.card_submit_pic{ /*徵稿卡片_繪畫*/
        
        width: 248px;
        height: 232px;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        flex-shrink: 0; 
        flex-grow: 0;

        /*border: 1px solid #000000;*/
        
    }
    div.submit_pic_thumbnail{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
    }
    div.submit_pic_thumbnail img{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        
    }
    div.submit_pic_title{
        
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
        width:100%;
        background: rgba(40,40,40,0.9);
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        z-index: 2;
    }
    div.lezi_drag-scroll-container {
        overflow-x: scroll; /* 允許水平滾動 */
        cursor: grab;       /* 讓滑鼠游標顯示為可抓取 */
        scrollbar-width: none;
    }
    
    div.lezi_drag-scroll-container.is-dragging {
    cursor: grabbing;
    }

